<p>We are located in the heart of Time Square at 40th st & 7th Ave!</p>

<div id='contact'>
  <i class='fa fa-map-marker'></i><p> Address: 552 7th Ave<br>
              (between 39th St & 40th St)<br>
              New york, NY 10018</p><br><br>
  <i class='fa fa-phone'></i><p> Ph: 212.391.4976</p>
</div>