<div class='row'>
  <div id='slideshow-container'>
    <br>
    <br>
    <ul>
      <li><img class='slide-image' src="assets/nutcastle.png" alt=""></li>
      <li><img class='slide-image' src="assets/image2.jpg" alt=""></li>
      <li><img class='slide-image' src="assets/valentines.jpg" alt=""></li>
    </ul>
  </div>
</div>